In [3]:
import os
import pandas as pd
import csv

In [7]:
entries = pd.read_csv('templateBlog.csv', index_col=0)

In [8]:
entries.head()

,title,subtitle,aut_href,author,ema_href,email,date,time,image_path,caption,...,extra2,extra3,extra4,extra5,extra6,extra7,extra8,extra9,extra10,meta_title
test1,"""This is a title""","""This is a subtitle""","""ncaldwellgatsos.com""","""Noah Caldwell""",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
test2,This is a title,This is a subtitle,ncaldwellgatsos.com,Noah Caldwell,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
template,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
entries.loc[subtitle]

NameError: name 'subtitle' is not defined

In [11]:
print(type(entries['title'][0]))

<class 'str'>

In [12]:
print(entries['title'][0])

"This is a title"