In [145]:
import os
import pandas as pd
import csv

In [146]:
entries = pd.read_csv('templateBlog.csv', index_col=0)

In [147]:
entries.head()

,title,subtitle,aut_href,author,ema_href,email,date,time,image_path,caption,...,extra2,extra3,extra4,extra5,extra6,extra7,extra8,extra9,extra10,meta_title
Test,"""Test""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Test,Test2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Montana Wilmont Collins,How to Win Montana,Helena Mayor Wilmot Collins faces an uphill ba...,www.ncaldwellgatsos.com,Noah Caldwell-Gatsos,mailto:ncaldwellgatsos@gmail.com,ncaldwellgatsos@gmail.com,7/12/19,12:13AM EST,/images/wilmot.jpg,Mayor Collins addresses a crowd in Helena foll...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
print(type(entries['title'][2]))

<class 'str'>

In [149]:
print(entries['title'][1])

Test2

In [150]:
print(type(entries['one_p'][2]))

<class 'str'>