In [3]:
import os
import pandas as pd
import csv

In [5]:
entries = pd.read_csv('templateBlog.csv', index_col=0)

In [6]:
entries.head()

,Unnamed: 0,title,subtitle,aut_href,author,ema_href,email,date,time,image_path,...,extra2,extra3,extra4,extra5,extra6,extra7,extra8,extra9,extra10,meta_title
0,test1,"""This is a title""","""This is a subtitle""","""ncaldwellgatsos.com""","""Noah Caldwell""",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,test2,This is a title,This is a subtitle,ncaldwellgatsos.com,Noah Caldwell,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,template,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN